/* Estilos para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    }
    
    /* Estilos para o container */
    .container {
    max-width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #41b7ad;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    }
    
    /* Estilos para a coluna do formulário */
    .coluna-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    }
    
    /* Estilos para o formulário */
    form {
    background-color: #fff;
    padding: 2vh;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    margin-top: 5vh;
    width: 100%;
    max-width: 50vw;
    margin: 0 auto;
    }
    
    .btn-secondary {
    background-color: #41b7ad;
    width: 100%;
    color: #fff;
    border-radius: 2vw;
    border: none;
    padding: 2vh;
    }
    
    label {
    display: block;
    margin-bottom: 2vh;
    font-weight: bold;
    }
    
    input {
    display: block;
    width: 100%;
    padding: 2vh;
    border-radius: 1vw;
    border: none;
    margin-bottom: 5vh;
    box-sizing: border-box;
    }
    
    button {
    display: block;
    background-color: #41b7ad;
    color: #fff;
    border: none;
    padding: 2vh 4vw;
    border-radius: 2vw;
    cursor: pointer;
    }
    
    button:hover {
    background-color: #319e91;
    }
    
    /* Estilos para a caixa de criação de conta */
    .criar-conta {
    background-color: #fff;
    padding: 2vh;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    margin-top: 5vh;
    width: 100%;
    max-width: 40vw;
    margin: 0 auto;
    }
    
    .criar-conta h2 {
    margin-top: 0;
    }
    
    .criar-conta p {
    margin-bottom: 5vh;
    }
    
    /* Media query para telas menores */
    @media only screen and (max-width: 768px) {
    .coluna-formulario {
    width: 100%;
    }
    
    form {
    width: 90vw;
    max-width: 40vw;
    }
    
    .btn-secondary,
    button {
    border-radius: 2vw;
    padding: 2vh;
    }
    }