/* Estilos para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  /* Estilos para o container */
  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #41b7ad;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Estilos para a coluna do formulário */
  .col.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  /* Estilos para o formulário */
  form {
    background-color: #fff;
    padding: 2vh;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    margin-top: 5vh;
    width: 100%;
    max-width: 50vw;
  }
  
  .btn-secondary {
    background-color: #41b7ad;
    color: #fff;
    border-radius: 2vw;
    border: none;
    padding: 2vh;
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 2vh;
    font-weight: bold;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 2vh;
    border-radius: 1vw;
    border: none;
    margin-bottom: 5vh;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    background-color: #41b7ad;
    color: #fff;
    border: none;
    padding: 2vh 4vw;
    border-radius: 2vw;
    cursor: pointer;
    margin-top: 2vh;
  }
  
  button:hover {
    background-color: #319e91;
  }
  
  /* Media query para telas menores */
  @media only screen and (max-width: 768px) {
    .col.formulario {
      width: 100%;
    }
  
    form {
      width: 90vw;
      max-width: 40vw;
    }
  
    .btn-secondary,
    button {
      border-radius: 2vw;
      padding: 2vh;
    }
  }
  