

h2{
    font-size: 80px;
}

body{
    text-align: center;
    background-color: #d9d9d9;
}

form{
    
    text-align: center auto;
    width: 200px;
    
}

button{
    margin: 10px;
    margin-left: 200px;
}

input{
    display: block;
    width: 500px;
    height: 35px;
}

label{
    color: #41b7ad;
}



.formulario{
    
    text-align: justify;
    margin-top: 150px;
    margin-left: 200px;
    float: left;
    width: 500px;
    max-width: 100%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    
   

}


.container{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
}


.imagem{
    
    margin-top: 80px;
    margin-left: 300px;
    float: left;
    width: 500px;
    margin-right: 50px;
    max-width: 100%;
    height: auto;
}

